<form class="col-md-5" (ngSubmit)="updatePackage(f,fcpackage.id)" #f=ngForm>
  <div class="form-group">
    <label for="ptype">Package Type</label>
    <select class="form-control" name="ptype" id="ptype" #name=ngModel ngModel={{fcpackage.ptype}} disabled>
      <option value="Food" selected="selected">Food</option>
      <option value="Care">Care</option>
    </select>
</div>
  <div class="form-group">
      <label for="pname">Package Name</label>
      <input type="text" #name=ngModel ngModel={{fcpackage.pname}} minlength=5 name="pname" (focus)="func1()" (focusout)="func()" required class="form-control" id="pname"/>
  </div>
  <div *ngIf=name.invalid>
  <div *ngIf=name.errors.required class="err"> Name cannot be blank!</div>
  <div *ngIf=name.errors.minlength class="err">  Name cannot be less than 5 characters!</div>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <input type="text" #desc=ngModel ngModel={{fcpackage.desc}} required minlength=20 ngModel name ="desc" class="form-control" id="desc"/>
</div>
<div *ngIf=desc.invalid>
<div *ngIf=desc.errors.required class="err"> Description cannot be blank!</div>
<div *ngIf=desc.errors.minlength class="err"> Description cannot be less than 20 characters!</div>
</div>
  <div class="form-group">
      <label for="stock">Stock</label>
      <input type="text" #stock=ngModel required ngModel={{fcpackage.stock}} name="stock" class="form-control" id="stock"/>
  </div>
  <div *ngIf=!stock.valid class="err"> Stock value cannot be blank!</div>
  <button type="submit" [disabled] = '!f.valid' class="btn btn-primary">Update</button>
  <button type="button" [disabled] = '!f.valid' class="btn btn-danger">Delete</button>
  <br>
  <br>
  <div *ngIf=status>Data updated successfully!</div>
</form>

  